PORT=5000

MONGO_URI=ongodb://smritiy935_bi_user:Bi_Dashboard123@ac-epnygkn-shard-00-00.vuxphyt.mongodb.net:27017,ac-epnygkn-shard-00-01.vuxphyt.mongodb.net:27017,ac-epnygkn-shard-00-02.vuxphyt.mongodb.net:27017/?ssl=true&replicaSet=atlas-70d97p-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=your_super_secret_jwt_key_change_me

NODE_ENV=production
